:root,
[data-bs-theme=light] {
    --bs-primary: #008080;
    --bs-primary-rgb: 0, 128, 128;
    --bs-secondary: #2179BE;
    --bs-secondary-rgb: 33, 121, 190;
    --bs-dark: rgb(10, 10, 10);
    --bs-dark-rgb: 10, 10, 10;
    --bs-white: rgb(250, 250, 250);
    --bs-light-rgb: 74, 74, 74;
    --bs-body-color: #4A4A4A;
    --btn-secondary-bg: #d6d6d6;
}

/* Skip Link */
.skip-links {
    list-style: none;
}

.skip-links li a {
    position: absolute;
    top: -10em;
}

.skip-links li a:focus {
    top: 0;
}

/* Button */
.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-secondary {
    --bs-btn-bg: var(--btn-secondary-bg); /* Use variable for background */
    --bs-btn-border-color: var(--btn-secondary-bg); /* Keep it consistent */
    --bs-btn-hover-bg: var(--btn-secondary-bg);;
    --bs-btn-hover-border-color:var(--btn-secondary-bg);;
    --bs-btn-active-bg: var(--btn-secondary-bg);;
    --bs-btn-active-border-color: var(--btn-secondary-bg);;
    --bs-btn-disabled-bg:var(--btn-secondary-bg);;
    --bs-btn-disabled-border-color:var(--btn-secondary-bg);;
}

/* Mobile */
body {
    font-family: "Poppins", sans-serif;
}

h1 {
    color: var(--bs-primary);
}

h2 {
    color: var(--bs-dark);
}

h3 {
    color: var(--bs-dark);
}

p {
    color: var(--bs-body-color);
}

/* Nav */
.nav-link {
    color: var(--bs-secondary);
    text-transform: uppercase;
}

.nav-link {
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link:focus:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.navbar-nav .nav-link:hover {
    background-color: var(--bs-secondary);
    color: var(--bs-white);
}

.navbar-toggler {
    color: var(--bs-secondary);
    border: 0;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-body-color);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn {
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.container-xxl {
    --bs-gutter-x: 3rem;
}

span {
    height: 1px;
    width: 100%;
    color: var(--bs-body-color);
}

hr {
    margin: 0;
}

.hr-line {
    margin-right: calc(0* var(--bs-gutter-x));
    margin-left: calc(0* var(--bs-gutter-x));
}

/* Form */
.g-5 {
    --bs-gutter-y: 1.5rem;
}

.g-5 {
    --bs-gutter-x: 1.5rem;
}

/* Others */

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #4A4A4A;
}

/* back to top */
#back-to-top {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    display: none;
    z-index: 100;
    border-radius: 50%;
}

/* persona */
.carousel-item {
    text-align: center; /* Center align the content inside the carousel item */
}

.carousel-control-prev, .carousel-control-next {
 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.carousel-control-next{
    justify-content: flex-end;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1); /* Invert the color of the icons to make them visible on the background */
}

/* website link */
a{
    text-decoration: none;
}

/* Other projects */
.view-other{
    max-width: 100%;
    display: flex;
}

.view-flex{
    display: flex;
}



/* iPad */
@media screen and (min-width:450px) and (max-width: 1200px) {

    /* .col-sm-8 {
        width: 50%;
    } */

    .container-xxl {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    /* Form */
    .g-5 {
        --bs-gutter-y: 2rem;
    }

    .g-5 {
        --bs-gutter-x: 2rem;
    }
      /* persona */
      .carousel-item img {
        max-width: 75%; /* Adjust the width of the images */
        height: auto; /* Maintain aspect ratio */
        margin: 0 auto; /* Center the image horizontally */
    }

    /* Test */
    .des-btn{
        display: none;
    }

    .view-width{
        width: 30%;
    }

  
}

/* Desktop */
@media screen and (min-width:1201px) {

    .container-xxl {
        max-width: 1440px;
        padding-left: 8rem;
        padding-right: 8rem;
    }

     /* Form */
     .g-5 {
        --bs-gutter-y: 3rem;
    }

    .g-5 {
        --bs-gutter-x: 3rem;
    }

    /* persona user map */
    .carousel-sm{
        max-width: 75%; /* Adjust the width of the images */
        height: auto; /* Maintain aspect ratio */
        margin: 0 auto; /* Center the image horizontally */
    }

    /* Test */
    .des-btn{
        display: none;
    }

    /* Home cards */
    .project-card:hover img{
        transition: 0.4s;
        filter: brightness(0.8);
    }
    .project-card img{
        transition: 0.4s;
    }

    /* Test */
    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns */
        grid-gap: 1.5rem; /* Gap between projects */
    }

    .view-width{
        width: 30%;
    }

    /* other project */
    .project-hover:hover{
        transition: 0.4s;
        filter: brightness(0.8);
    }
    .project-hover{
        transition: 0.4s;
    }
}



/* Test */
/* .nav-link,.navbar-toggler{color:var(--bs-secondary)}p,span{color:var(--bs-body-color)}:root,[data-bs-theme=light]{--bs-primary:#008080;--bs-primary-rgb:0,128,128;--bs-secondary:#2179BE;--bs-secondary-rgb:33,121,190;--bs-dark:rgb(10, 10, 10);--bs-dark-rgb:10,10,10;--bs-white:rgb(250, 250, 250);--bs-light-rgb:74,74,74;--bs-body-color:#4A4A4A}.skip-links{list-style:none}.skip-links li a{position:absolute;top:-10em}.skip-links li a:focus{top:0}.btn-primary{--bs-btn-bg:var(--bs-primary);--bs-btn-border-color:var(--bs-primary);--bs-btn-hover-bg:var(--bs-primary);--bs-btn-hover-border-color:var(--bs-primary);--bs-btn-active-bg:var(--bs-primary);--bs-btn-active-border-color:var(--bs-primary);--bs-btn-disabled-bg:var(--bs-primary);--bs-btn-disabled-border-color:var(--bs-primary);--bs-btn-bg:var(--bs-primary);--bs-btn-border-color:var(--bs-primary);--bs-btn-hover-bg:var(--bs-secondary);--bs-btn-hover-border-color:var(--bs-primary);--bs-btn-active-bg:var(--bs-body-color);--bs-btn-active-border-color:var(--bs-primary);--bs-btn-disabled-bg:var(--bs-primary);--bs-btn-disabled-border-color:var(--bs-primary)}body{font-family:Poppins,sans-serif}h1{color:var(--bs-primary)}h2,h3{color:var(--bs-dark)}.nav-link{text-transform:uppercase;transition:color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out}.navbar-nav .nav-link.active,.navbar-nav .nav-link.active:hover,.navbar-nav .nav-link:focus,.navbar-nav .nav-link:focus:hover{background-color:var(--bs-primary);color:var(--bs-white)}.navbar-nav .nav-link:hover{background-color:var(--bs-secondary);color:var(--bs-white)}.navbar-toggler{border:0}.btn{transition:color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out}.container-xxl{--bs-gutter-x:3rem}span{height:1px;width:100%}hr{margin:0}.hr-line{margin-right:calc(0* var(--bs-gutter-x));margin-left:calc(0* var(--bs-gutter-x))}@media screen and (min-width:500px) and (max-width:1200px){.col-sm-8{width:50%}.container-xxl{padding-left:2rem;padding-right:2rem}}@media screen and (min-width:1201px){.container-xxl{max-width:1400px;padding-left:3rem;padding-right:3rem}} */